.textWhite {
  color: white;
}

.gradientText {
  display: inline-block;
  background: linear-gradient(90deg, #34d399, #10b981, #059669);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  animation: emeraldShift 3s linear infinite;
}

.gradientText::before,
.gradientText::after {
  content: "content"; /* hardcoded here, but could be attr(data-text) */
  position: absolute;
  left: 0;
  top: 0;
  background: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  clip-path: inset(0 0 50% 0);
  animation: glitchMove 2s infinite;
}

.gradientText::after {
  clip-path: inset(50% 0 0 0);
  animation-delay: 1s;
}

@keyframes emeraldShift {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes glitchMove {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-2px, 1px);
  }
  50% {
    transform: translate(2px, -1px);
  }
  75% {
    transform: translate(-1px, 2px);
  }
}
